[user]
  name = Lucas Rowe
  email = lucas.rowe.public@gmail.com
[push]
  default = simple
# Added by git lfs install
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[alias]
  # Clean merged branches
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  a = add
  ap = add -p
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose
  d = diff
  ds = diff --stat
  dc = diff --cached

  # From Github Flow Aliases http://haacked.com/archive/2014/07/28/github-flow-aliases/
  s = status -s
  st = status -s
  co = checkout
  cob = checkout -b
  ec = config --global -e
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive

  # list branches sorted by last modified
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # From Git Housekeeping Tutorial http://railsware.com/blog/2014/08/11/git-housekeeping-tutorial-clean-up-outdated-branches-in-local-and-remote-repositories/
  # Info on remote merged branches
  rmerged = "!for branch in `git branch -r --merged | grep -v HEAD`; do echo `git show --format=\"%ci %cr %an\" $branch | head -n 1` \\t$branch; done | sort -r"
  # Info on remote unmerged branches
  runmerged = "!for branch in `git branch -r --no-merged | grep -v HEAD`; do echo `git show --format=\"%ci %cr %an\" $branch | head -n 1` \\t$branch; done | sort -r"
